.panelPiecesJointe {
    padding-left: 0px; 
    width:390px; 
    overflow:auto;
}

.panelPieceJointeDetail {
    border: 0px solid #000000; 
    padding: 0px 0px 0px 20px;
    overflow:auto;
}

.pieceJointeLien {
    display: block;
    padding: 2px 0px 2px 0px;
}

div.seanceDetail {
	overflow: auto;
}

.devoirSeance {
	width: 49%;
    float: left;
}

.seanceChamps {
	width: 49%;
    float: left;
    clear: both;
    padding-top: 4px;
    padding-left: 2px;
}

.seanceDevoirDiv {
	width: 49%;
}

.libellePieceJointe {
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}
