.corpsCalTable {
    background-color: #FFFFFF;
    border: 1px dotted #900000;
    font-weight: bold;
    height: 40px;
    margin: 0;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}
.corpsOuvre, .rf-dg-c {
    padding: 0;
    width: 17px;
    font-weight:bold;
    
}


input.rf-sel-inp {
    width: 50px;
}

.toolbarButton {
	border: none;
	background-color: inherit;
	margin: 0 5px 5px 0;
	
}