   

.tamponTd {
    background-repeat: no-repeat;
    background-position: center;
    position: static;       
    vertical-align: middle;
    text-align: center;
    height: 65px;
} 

.tamponImage {
    width: 100px;   
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    position: static;
    margin: auto;
    
}

.dateTampon {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}
